{% extends "main/base.html" %}
{% load static %}

{% block title %} Users {% endblock title %}

{% block content %}
<div class="row p-4 m-0">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>



<div class="row p-4">
    <h3 class="col-8 col-md-10">Users Management</h3>
    <div class="col-4 col-md-2">
        <a href="{% url 'user:add_user_view' %}" class="w-100"><button class="btn btn_style w-100"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
</svg> Add User</button></a>
    </div>
</div>

<div class="row p-4 g-3">
    <div class="col-md-4">
        <div class="card p-2 h-100">
            <div class="card-title">
                <h3>Number of Suppliers</h3>
            </div>
            <div class="card-text center_content">
                <p style="font-size: 30px; font-weight: bold;">
                    {{ number_of_users }}
                </p>
            </div>
        </div>
    </div>

    <div class="col card p-2">
        <form action="{% url 'user:all_users_view' %}" method="post" class="row g-3 p-2">
            {% csrf_token %}
            <div class="col-12 col-md-12">
                <div class="input-group mb-3">
                    <span class="input-group-text">Search</span>
                    <input type="text" class="form-control" placeholder="Search username..." name="search">
                </div>
            </div>
            <div class="col-12 col-md-10">
                <select class="form-select" name="order_by">
                    <option value="none" selected>Order By</option>
                    <option value="latest">Latest Added</option>
                    <option value="oldest">Oldest Added</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn_style w-100">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="row p-4">
    {% for user in users %}
    <div class="col-12 col-md-4 col-lg-3 mb-2">
        <div class="card p-2">
            <div class="card-title mt-2">
                <h6>{{ user.username }}</h6>
            </div>
            <div class="card-text">
                <p>First Name: <strong>{{ user.first_name|default:"-" }}</strong></p>
                <p>Last Name: <strong>{{ user.last_name|default:"-" }}</strong></p>
                <p>Email: <strong>{{ user.email|default:"-" }}</strong></p>
                <p>Date Joined:
                    <em>{{user.date_joined|date:"Y-m-d H:i"}}</em>
                </p>
                <p>Last Login:
                    <em>{{user.last_login|date:"Y-n-d H:i"}}</em>
                </p>
                <p>
                    {% if user.is_staff %}
                    <span class="badge text-bg-info" style="background-color: lightseagreen;">Staff User</span>
                    {% endif %}
                    {% if user.is_superuser %}
                      <span class="badge text-bg-warning" style="background-color: lightcoral;">Super User</span>
                    {% endif %}
                </p>
            </div>
            <div class="card-footer mt-2">
                <a href="{% url 'user:update_user_view' user.id %}"><button
                        class="btn btn-outline-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg></button></a>
                <a href=""><button class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg></button></a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No suppliers found.</p>
    {% endfor %}
</div>

{% endblock content %}
