{% extends "main/base.html" %}

{% block title %}
Purchases & Sales
{% endblock title %}

{% block content %}

<div class="row p-4 g-2">
    <div class="col-8">
        <h3>Purchases and Sales</h3>
    </div>
    <div class="col-4 text-end">
        <a href="{% url 'purchases_sales:add_purchase_view' %}" class=""><button class="btn btn_style">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-upc-scan" viewBox="0 0 16 16">
                    <path
                        d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z" />
                </svg>
                Purchase</button></a>
        <a href="{% url 'purchases_sales:add_sale_view' %}" class=""><button class="btn btn_style">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                    <path
                        d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5M11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                    <path
                        d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118z" />
                </svg>
                Sale</button></a>
    </div>
</div>


<div class="row p-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} d-flex align-items-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="row p-4">
    <div class="col-12 col-md-12 card p-4 table-responsive">
        <h4>Sales</h4>
        <table class="table">
            <thead class="">
                <tr>
                    <th>product</th>
                    <th>quantity</th>
                    <th>sale_date</th>
                    <th>customer_name</th>
                    <th>created_by</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.product.name }}</td>
                    <td>{{ sale.quantity }}</td>
                    <td>{{ sale.sale_date|date:"Y-m-d H:i" }}</td>
                    <td>{{ sale.customer_name }}</td>
                    <td>{{ sale.created_by }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-outline-danger delete-btn" data-id="{{ sale.id }}"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No categories found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                {% if sales.has_previous %}
                <a href="?page_sale={{ sales.previous_page_number }}&page_purchases={{ purchases.number }}" class="btn"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path
                            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg> previous</a>
                {% endif %}
                <span>{{ sales.number }}</span>
                <span>from</span>
                <span>{{ sales.paginator.num_pages }}</span>
                {% if sales.has_next %}
                <a href="?page_sale={{ sales.next_page_number }}&page_purchases={{ purchases.number }}" class="btn">next <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg></a>
                {% endif %}
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="col-12 col-md-12 mt-4 card p-4 table-responsive">
        <h4>Purchases</h4>
        <table class="table">
            <thead class="">
                <tr>
                    <th>product</th>
                    <th>quantity</th>
                    <th>purchase_date</th>
                    <th>supplier</th>
                    <th>created_by</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.product.name }}</td>
                    <td>{{ purchase.quantity }}</td>
                    <td>{{ purchase.purchase_date|date:"Y-m-d H:i" }}</td>
                    <td>{{ purchase.supplier }}</td>
                    <td>{{ purchase.created_by }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-outline-danger delete-btn-purchase"
                            data-id-p="{{ purchase.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal_purchase">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No purchases found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                {% if purchases.has_previous %}
                <a href="?page_purchases={{ purchases.previous_page_number }}&page_sale={{sales.number}}" class="btn"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path
                            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg> previous</a>
                {% endif %}
                <span>{{ purchases.number }}</span>
                <span>from</span>
                <span>{{ purchases.paginator.num_pages }}</span>
                {% if purchases.has_next %}
                <a href="?page_purchases={{ purchases.next_page_number }}&page_sale={{sales.number}}" class="btn">next <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg></a>
                {% endif %}
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

<!-- model for sale  -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this sale record?
                <p style="color: darkred; font-weight: 700;">
                    Deleting it will not increase the quantity; it will only delete the record.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- model for purchase  -->
<div class="modal fade" id="deleteModal_purchase" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this purchase?
                <p style="font-weight: 700; color: darkred;">
                    Deleting it will not reduce the quantity; it will only delete the record.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn_p" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>


    document.addEventListener("DOMContentLoaded", function () {
        // for purchase
        let deleteButtons_p = document.querySelectorAll(".delete-btn-purchase");
        let confirmDeleteBtn_p = document.getElementById("confirmDeleteBtn_p");

        deleteButtons_p.forEach(button => {
            button.addEventListener("click", function () {
                let id = this.getAttribute("data-id-p");
                confirmDeleteBtn_p.href = `/purchases_sales/delete_purchase/${id}/`;
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        let deleteButtons = document.querySelectorAll(".delete-btn");
        let confirmDeleteBtn = document.getElementById("confirmDeleteBtn");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                let id = this.getAttribute("data-id");
                confirmDeleteBtn.href = `/purchases_sales/delete_sale/${id}/`;
            });
        });
    });

</script>

{% endblock content %}