{% extends "main/base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="row p-3 m-4">
    <div class="col">
        <div class="card">
            <div class="card-title">
                test
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-title">
                test
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-title">
                test
            </div>
        </div>
    </div>
</div>

{% endblock content %}